<!--<script>-->
  <!--import Hello from './components/Hello'-->

  <!--export default {-->
    <!--name: 'app',-->
    <!--components: {-->
      <!--Hello-->
    <!--},-->
    <!--created () {-->
      <!--const postData = {-->
        <!--grant_type: 'password',-->
        <!--client_id: 2,-->
        <!--client_secret: 'h3XXI1HiByNDhd5vZE4lhbOaxtJcUSvbrOg9TCPc',-->
        <!--username: 'romeomyname@gmail.com',-->
        <!--password: '123456',-->
        <!--scope: ''-->
      <!--}-->
      <!--this.$http.post('http://localhost:8000/oauth/token', postData)-->
              <!--.then(response => {-->
                <!--console.log(response)-->
                <!--const header = {-->
                  <!--'Accept': 'application/json',-->
                  <!--'Authorization': 'Bearer ' + response.body.access_token-->
                <!--}-->
                <!--this.$http.get('http://localhost:8000/api/user', {headers: header})-->
                        <!--.then(response => {-->
                          <!--console.log(response)-->
                        <!--})-->
              <!--})-->
    <!--}-->
  <!--}-->
<!--</script>-->
<script>
  import {loginUrl, getHeader, userUrl} from './config'
  import {clientId, clientSecret} from './env'
  export default {
    data () {
      return {
        login: {
          email: 'romeomyname@gmail.com',
          password: '123456'
        }
      }
    },
    methods: {
      handleLoginFormSubmit () {
        const postData = {
          grant_type: 'password',
          client_id: clientId,
          client_secret: clientSecret,
          username: this.login.email,
          password: this.login.password,
          scope: ''
        }
//        const authUser = {}
        this.$http.post(loginUrl, postData)
                .then(response => {
                  if (response.status === 200){
                      console.log('Oauth token ', response)
                      authUser.access_token = response.data.access_token
                      authUser.refresh_token = response.data.refresh_token
                      window.localStorage.setItem('authUser', JSON.stringify(authUser))
                      this.$http.get(userUrl, {headers: getHeader()})
                              .then(response => {
                                console.log('User object ', response)
                        })
                  }
                })
//                .then(response => {
//                  console.log(response)
//                  const header = {
//                    'Accept': 'application/json',
//                    'Authorization': 'Bearer ' + response.body.access_token
//                  }
//                  this.$http.get('http://localhost:8000/api/user', {headers: header})
//                          .then(response => {
//                            console.log(response)
//                          })
//                })
      }
    }
  }
</script>

<template>
  <div class="wrapper" id="home-wrapper">
    <section id="login">
      <div class="row">
        <div class="col-md-6 col-md-push-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <form v-on:submit.prevent="handleLoginFormSubmit()">
                <div class="form-group">
                  <label>Email address</label>
                  <input class="form-control" placeholder="Enter your email address" type="text" v-model="login.email">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" placeholder="Enter your email password" type="password" v-model="login.password">
                </div>
                <button class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="sass">
  @import "./assets/css/bootstrap.css";
</style>